<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="windows-1251" />
    <title>Домашнее задание 1</title>
    <style>
      /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .fixed-header,
      .fixed-footer {
        width: 100%;
        position: fixed;
        background: #333;
        padding: 10px 0;
        color: #fff;
      }
      .fixed-header {
        top: 0;
      }
      .fixed-footer {
        bottom: 0;
      }
      .container {
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
      }
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="fixed-header">
      <div class="container"></div>
    </div>
    <div class="container">
      <form action="predictImage" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-md-4 col-sm-4">
          <label for="FilePath">Загрузить изображение:</label>
        </div>
        <input name="filePath" type="file" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div>
      <br />
      {% if scorePrediction %}
      <h3>The classification is : {{scorePrediction}}</h3>
      {% endif %}
    </div>
    <div class="fixed-footer">
      <div class="container"></div>
    </div>
  </body>
</html>
