.file-input {
    visibility: hidden;
}

.image-view {
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 32px;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.processing-blur {
    background: #cecece83;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-view.processing canvas,
.image-view.preview canvas,
.image-view.initial canvas {
    /* display: none; */
}

/* .image-view canvas {
  width: calc(100% - 10px);
  height: 100%;
  outline: 1px solid fuchsia;
  margin: 2px;
} */